@import "https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css"; 
@import "https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css";
@import '@coreui/coreui/dist/css/coreui.min.css'

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.ConnectButton-dark button {
  background-image: linear-gradient(180deg, #F3484F 0%, #C51E25 100%) !important;
  padding: 14px;
  padding-top: 8px;
  height: 40px;
  font-weight: 700;
  transition: all 0.125 ease-in-out;
  border-radius: 12px;
} 
.ConnectButton-dark button:hover {
  transform: scale(1.05);
}

.ConnectButton-light button {
  background-image: linear-gradient(180deg, #F3484F 0%, #C51E25 100%) !important;
  padding: 14px;
  padding-top: 8px;
  height: 40px;
  color: aliceblue;
  font-weight: 700;
  transition: all 0.125 ease-in-out;
  border-radius: 12px;
} 
.ConnectButton-light button:hover {
  transform: scale(1.05);
}